.slick-slide {
    text-align: center;
    color: #419be0;
    background: white;
}
.slick_item {
    display: grid !important;
    grid-gap: 1rem;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-areas:
            "img-project name-project name-project"
            "img-project presentation-project presentation-project"
            "img-project competences-project competences-project"
            "img-project btn-repository btn-live";
}
.slick_item > * {
    align-self: stretch;
    background: lightsalmon;
    border: 2px solid black;

}
.img-project {
    grid-area: img-project;
}
.name-project {
    grid-area: name-project;
}
.presentation-project {
    grid-area: presentation-project;
}
.competences-project {
    grid-area: competences-project;
}
.btn-repository {
    grid-area: btn-repository;
}
.btn-live {
    grid-area: btn-live;
}